*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
  }

.contenedor{
    width: 100%;
    height: 100vh;
    border: solid 30px #001e60;
    position: relative;
}

.carousel-container{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-slide{
    display: none;
}

.carousel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 100px;
}

.logo{
    position: absolute;
    top: 50px;
    left: 70px;

}

.logo_imagen{
    height: 140px;
}

table {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    padding: 20px 0px;
    background: #03246a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
}

th {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
}

td {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5px 0px;
}

tr:nth-child(2n){
    background: #041d51;
    font-weight: bold;
}

.capa {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: .2;
    mix-blend-mode: overlay;
}